@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Nunito:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.elementos{
    width: 500px;
    min-height: 300px;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    color: #fff;
    font-family: 'Fascinate', cursive;
}
#form-tarefas{
    margin: 20px;
}
#form-tarefas #tarefa-input{
    width: 250px;
    height: 25px;
    padding-left: 10px;
}
#form-tarefas #tarefa-input:focus{
    outline: 1px solid #000;
}
#form-tarefas #btn_enviar{
    height: 28px;
    font-size: 12px;
    padding: 0 10px;
}
#form-tarefas #btn_enviar:hover{
    cursor: pointer;
}